%div{:marginheight => "0", :marginwidth => "0", :style => "margin:0;padding:0;min-height:100%;width:100%"}
  %table{:style => "width: 920px; background-color: #fcfcfc; border: 0; font-family: Verdana, Arial, sans-serif", :align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
    %tr
      %td{:style => "font-size:0; line-height:0;", :colspan => 3, :height => 20}
    %tr
      %td{ :colspan => 3, :style => "line-height: 40px" }
        = cl_image_tag("portfolio/airmail_stripe.png", :width => 920, :height => 20, :crop => :fit)
    %tr
      %td{:style => "font-size:0; line-height:0;", :colspan => 3, :height => 20}
    %tr
      %td{:colspan => 3, :style => "line-height: 40px"}
        %h2{ :style => "font-size: 22px; text-align: center"} Raminder! You've got mail.

    - @resource.mail_form_attributes.each do |attribute, value|
    - next if value.blank?
      %tr
        %td{:style => "line-height: 20px"}
          = @resource.class.human_attribute_name(attribute)
        %td{:style => "line-height: 20px"}
          = value
    %tr
      %td{:style => "font-size:0; line-height:0;", :colspan => 3, :height => 20}
    %tr
      %td{ :colspan => 3, :style => "line-height: 40px" }
        = cl_image_tag("portfolio/airmail_stripe.png", :width => 920, :height => 20, :crop => :fit)
    %tr
      %td{:style => "font-size:0; line-height:0;", :colspan => 3, :height => 20}
