$resume: #85A366
$resume-light: rgba(133, 163, 102, 0.3)
$contact: #8585AD
$contact-light: rgba(133, 133, 173, 0.3)
$portfolio: #A34747
$portfolio-light: rgba(163, 71, 71, 0.3)
$projects: #5C8A8A
$projects-light: rgba(92, 138, 138, 0.3)
$pale-blue: #5C85AD
$pale-blue-light: rgba(92, 133, 173, 0.3)
$earth-green: #A3A375
$earth-green-light: rgba(163, 163, 117, 0.3)
$pale-coral: #cc6666
$pale-coral-light: rgba(204, 102, 102, 0.3)


.color-resume
  color: $resume
.color-contact
  color: $contact
.color-portfolio
  color: $portfolio
.color-projects
  color: $projects
.color-earth-green
  color: $earth-green

.bg-resume
  background-color: $resume
  &.light
    background-color: $resume-light
.bg-contact
  background-color: $contact
  &.light
    background-color: $contact-light
.bg-portfolio
  background-color: $portfolio
  &.light
    background-color: $portfolio-light
.bg-projects
  background-color: $projects
  &.light
    background-color: $projects-light
.bg-pale-blue
  background-color: $pale-blue
  &.light
    background-color: $pale-blue-light
.bg-earth-green
  background-color: $earth-green
  &.light
    background-color: $earth-green-light

.bg-pale-coral
  background-color: $pale-coral
  &.light
    background-color: $pale-coral-light

.border-portfolio
  border-color: $portfolio
.border-contact
  border-color: $contact
.border-resume
  border-color: $resume
.border-projects
  border-color: $projects

.color-ghost-white
  color: ghostwhite

.bg-ghost-white
  background-color: ghostwhite

.bg-white
  background-color: #ffffff

.bg-dark-gray
  background-color: #222222

.bg-transparent
  background-color: transparent

.postal-border
  background-repeat: repeat-x
  background-image: image_url("airmail-stripe-textured.png")
  background-color: #fff
  height: 10px
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    &
      height: 5px
      background-size: 115px 10px
  &.vertical
    position: absolute
    top: 50%
    width: 100%
    &.left
        left: -50%
        -webkit-transform: rotate(90deg)
        transform: rotate(90deg)  
    &.right
        right: -50%
        -webkit-transform: rotate(270deg)
        transform: rotate(270deg) 

.postal-border-container
  overflow: hidden 