#header
  %nav.navbar.container.margin-bottom-0.navbar-expand-lg
    .navbar-header.mr-auto
      .navbar-brand
        %a#name.clearfix{ :href => root_path }
          #rCircle.float-left.rounded-circle.font-20.color-ghost-white.text-center r
          #myName.float-left.font-20 aminder goraya
    %button.navbar-toggler{"data-target" => "#rgorayaNavbar", "data-toggle" => "collapse", :type => "button"}
      %span.oi.oi-menu
    #rgorayaNavbar.collapse.navbar-collapse.justify-content-end
      %ul.nav.navbar-nav
        = nav_link 'Home', root_path
        = nav_link 'Portfolio', portfolio_path
        = nav_link 'Projects', projects_path
        = nav_link 'Resume', resume_path
        = nav_link 'Contact', contact_path
  .d-none.d-sm-block.p-2