%meta{ :charset => "utf-8" }
%title= page_title
%meta{ :name => "title", :content => page_title }
%meta{ :name => "description", :content => meta_description }
%meta{:content => "software engineer, React, San Francisco, silicon valley, uc irvine, ruby on rails, front-end, experienced, javascript, seo, responsive design", :name => "keywords"}/
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
%meta{ :name => "author", :content => "rgoraya.com" }
= favicon_link_tag