.container
  .row.clearfix
    .col-xs-12.col-sm-12.margin-bottom-30
      %h1.font-28
        Hi! I'm Raminder.
      %p.font-16.padding-top-10
        A <b>hands-on Engineering Leader</b> with experience in driving <b>Engineering Strategy</b> and <b>Product Vision</b> for products serving 
        <b>millions of customers</b>. 
      %p
        Passionate about <b>building engineering teams</b> from ground up as well as <b>growing current teams</b> and helping organizations <b>build 
        high quality software</b> from scratch and <b>revive failing products</b> through simplification, appropriate changes to business or 
        implementation strategies, partial or complete re-design and re-architecture. 
  .row
    .d-none.d-sm-block.col-sm-2
    #menuBlocks.col-xs-12.col-sm-12
      .row.clearfix
        .col-xs-12.col-md-4
          -# .d-none.d-sm-block.padding-15
          %a.menu-block.portfolio.color-ghost-white.padding-30{ :href => portfolio_path}
            %h2.font-26
              %i.fa.fa-road
              Portfolio
            %p.margin-bottom-20 My growth story, from <b>Frontend Engineering</b> to <b>Product</b> to <b>Engineering Management</b>.
        -# .col-xs-12.col-sm-6
        -#   %a.menu-block.projects.color-ghost-white.padding-20{ :href => projects_path}
        -#     %h2.font-26
        -#       %i.fa.fa-terminal
        -#       Projects
        -#     %p.margin-bottom-20 Current and past projects and my public repositories

        -# .row.clearfix
        .col-xs-12.col-md-4
          -# .d-none.d-sm-block.padding-15
          %a.menu-block.resume.color-ghost-white.padding-30{ :href => resume_path }
            %h2.font-26
              %i.fa.fa-file
              Résumé
            %p.margin-bottom-20 
              My full professional résumé, built responsive to printing and downloadable as PDF.
        .col-xs-12.col-md-4
          -# .d-none.d-sm-block.padding-15
          %a.menu-block.contact.color-ghost-white.padding-30{ :href => contact_path}
            %h2.font-26
              %i.fa.fa-address-book
              Contact
            %p.margin-bottom-20 Say Hello! I'm eager to meet other members of our vibrant tech community.
    .row.margin-top-30.margin-bottom-30
      .d-none.d-md-block.col-md-1
      #tag-cloud.col-sm-12.col-md-10.font-normal
      :javascript
        // Sample skills array
        let skills = [
            { name: "JavaScript", value: 110 },
            { name: "HTML", value: 100 },
            { name: "CSS", value: 100 },
            { name: "React", value: 95 },
            { name: "Technical Leadership", value: 110 },
            { name: "Engineering Management", value: 95 },
            { name: "Microservices", value: 80 },
            { name: "Strategy", value: 95 },
            { name: "Enterprise Architecture", value: 95 },
            { name: "Enterprise Software", value: 95 },
            { name: "SEO", value: 87 },
            { name: "Hiring", value: 95 },
            { name: "Software Project Management", value: 80 },
            { name: "SQL", value: 80 },
            { name: "System Design", value: 85 },
            { name: "Product Management", value: 75 },
            { name: "Talent Development", value: 80 },
            { name: "Continuous Improvement", value: 70 },
            { name: "Stakeholder Management", value: 87 },
            { name: "Budgeting", value: 72 },
            { name: "Vendor Management", value: 78 },
            { name: "AWS", value: 85 },
            { name: "Ruby on Rails", value: 95 },
            { name: "Redux", value: 80 },
            { name: "Databases", value: 80 },
            { name: "Ruby", value: 90 },
            { name: "OKRs", value: 92 },
            { name: "TypeScript", value: 76 }
        ];

        // Function to shuffle skills
        function shuffle(arr) {
          let currentIndex = arr.length;

          // While there remain elements to shuffle...
          while (currentIndex != 0) {

            // Pick a remaining element...
            let randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex--;

            // And swap it with the current element.
            [arr[currentIndex], arr[randomIndex]] = [
              arr[randomIndex], arr[currentIndex]];
          }
          return arr;
        }
        // Function to generate a random color
        function getRandomColor() {
            //const letters = '0123456789ABCDEF';
            const colors = ["#a4b6dd", "#d09292", "#c094cc", "#a2d0c0", "#c37892", "#e79796", "#556c75", "#997b66", "#b58463", "#336b8b", "#83984d", "#9e8189"];
            
            return colors[Math.floor(Math.random() * colors.length)]
            //let color = '#';
            //for (let i = 0; i < 6; i++) {
            //    color += letters[Math.floor(Math.random() * 16)];
            //}
            //return color;
        }

        // Function to generate the tag cloud
        function generateTagCloud(skills) {
            const tagCloudContainer = document.getElementById('tag-cloud');

            // Find the minimum and maximum skill values
            const minValue = Math.min(...skills.map(skill => skill.value));
            const maxValue = Math.max(...skills.map(skill => skill.value));

            skills.forEach(skill => {
                const tag = document.createElement('span');
                tag.className = 'tag';
                tag.textContent = skill.name;

                // Set the font size relative to the skill value
                const fontSize = ((skill.value - minValue) / (maxValue - minValue) * 25) + 15; // Adjust 10 and 20 as needed
                tag.style.fontSize = `${fontSize}px`;

                // Set a random color
                tag.style.color = getRandomColor();

                tagCloudContainer.appendChild(tag);
            });
        }

        // Generate the tag cloud on page load
        document.addEventListener('DOMContentLoaded', () => generateTagCloud(shuffle(skills)));

    .d-none.d-sm-block.col-sm-2

= render "shared/back_to_top"
