= simple_form_for(@user_contact) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :job
    = f.input :title
    = f.input :address
    = f.input :phone_number
    = f.input :email
    = f.input :picture

  .form-actions
    = f.button :submit
