%h1 Listing user_contacts

%table
  %thead
    %tr
      %th Name
      %th Job
      %th Title
      %th Address
      %th Phone number
      %th Email
      %th Picture
      %th
      %th
      %th

  %tbody
    - @user_contacts.each do |user_contact|
      %tr
        %td= user_contact.name
        %td= user_contact.job
        %td= user_contact.title
        %td= user_contact.address
        %td= user_contact.phone_number
        %td= user_contact.email
        %td= user_contact.picture
        %td= link_to 'Show', user_contact
        %td= link_to 'Edit', edit_user_contact_path(user_contact)
        %td= link_to 'Destroy', user_contact, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User contact', new_user_contact_path
