%p#notice= notice

%p
  %b Name:
  = @user_contact.name
%p
  %b Job:
  = @user_contact.job
%p
  %b Title:
  = @user_contact.title
%p
  %b Address:
  = @user_contact.address
%p
  %b Phone number:
  = @user_contact.phone_number
%p
  %b Email:
  = @user_contact.email
%p
  %b Picture:
  = @user_contact.picture

= link_to 'Edit', edit_user_contact_path(@user_contact)
\|
= link_to 'Back', user_contacts_path
