console.log("create.js.erb file");

// add new comment to end of comments section
$("#message")
        .removeClass('hidden')
        .find('.text').html("Dear <%= @name %> your message has been delivered!")

$("#new_contact").trigger("reset");