.container

  #message.alert
    %span.text
    %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} &times;

  .p-0.rounded.position-relative.postal-border-container.shadow-sm
    .postal-border
    .postal-border.vertical.left.d-none.d-md-block
    .postal-border.vertical.right.d-none.d-md-block
    .row.m-4
      .col-lg-8.margin-bottom-20
        %h2.font-26.margin-bottom-30
          Say Hello!
        = simple_form_for @contact, :html => { :class => '', "data-remote" => true, "data-type" => :json } do |f|
          = f.input :name, :required => true, :placeholder => "Please enter your name"
          = f.input :email, :required => true, :placeholder => "abc@example.com"
          = f.input :subject, :required => true
          = f.input :message, :as => :text, :required => true, :rows => 5
          .hidden
            = f.input :nickname, :hint => 'Leave this field blank!'
          %div
            = f.button :submit, 'Send message', :class=> "btn btn-outline-dark"


      #all_badges.col-lg-4.text-center.margin-top-20
        %script{async: "", defer: "defer", src: "https://platform.linkedin.com/badges/js/profile.js", type: "text/javascript"}
        #linkedIn.badge-container.margin-bottom-20
          .badge-base.LI-profile-badge{"data-locale" => "en_US", "data-size" => "medium", "data-theme" => "dark", "data-type" => "VERTICAL", "data-vanity" => "rgoraya", "data-version" => "v1"}
          - #   %a.badge-base__link.LI-simple-link{href: "https://www.linkedin.com/in/rgoraya?trk=profile-badge"} Raminder G.
    .postal-border

= render :partial => "shared/back_to_top"