@import shared/fonts
@import shared/spacing
@import shared/colors_and_backgrounds

html
  margin: 0px
  padding: 0px
  height: 100%

body
  margin: 0px
  padding: 0px
  height: 100%
  -webkit-font-smoothing: antialiased
  @extend .font-light

#pageContainer
  min-height: 100%
  position: relative
  padding: 0
  background-image: image_url("linedpaper.png") // Background pattern from subtlepatterns.com
  #content
    padding-bottom: 50px
    .scrollspy-navigation
      .sub-nav
        display: none
      a
        color: #333
        text-decoration: none
        border: 0
        border-left: 2px solid transparent
        &:visited
          color: #333
          text-decoration: none
        &:hover, &:active, &:focus
          text-decoration: none
          background-color: transparent
        &.active  
          .portfolio_pages_portfolio &
            @extend .border-portfolio
          .portfolio_pages_projects &
            @extend .border-projects
          .portfolio_pages_contact &
            @extend .border-contact
          .portfolio_pages_resume &
            @extend .border-resume
          border-color: #333
          + .sub-nav
            display: block

  #header
    box-shadow: 0 0px 0 rgba(0,0,0,0.08),inset 0 2px 0 0 #333
    .navbar
      .navbar-brand
        #name
          color: #333333
          #rCircle
            height: 23px
            width: 23px
            line-height: 18px
            padding: 1px
            background-color: #333
          #myName
            line-height: 23px  
      ul.navbar-nav
        li
          padding: 15px
          a
            padding: 5px 0
            color: #333
            text-decoration: none
            border: 0
            border-bottom: 3px solid transparent
            &:visited
              color: #333
              text-decoration: none
            &:hover, &:active, &:focus
              text-decoration: none
              background-color: transparent
          &.active
            a
              border-color: #333
      .navbar-toggle
        .icon-bar
          background-color: #333
  #footer
    position: absolute
    bottom: 0px
    padding: 0
    height: 50px
    line-height: 50px
    a
      color: #333
      text-decoration: none
      &:visited
        color: #333
        text-decoration: none
      &:hover
        color: #333
        text-decoration: underline

  #back_to_top
    opacity: 0.8
    z-index: +1
    transition: bottom 0.4s
    position: fixed
    bottom: -40px
    right: 10px
    width: 40px
    height: 40px
    line-height: 40px
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2)
    .portfolio_pages_portfolio &
      @extend .bg-portfolio
    .portfolio_pages_projects &
      @extend .bg-projects
    .contacts_new &
      @extend .bg-contact
    .portfolio_pages_resume &
      @extend .bg-resume
    .welcome_index &
      background-color: #333
    &:hover, &:active, &:focus
      color: ghostwhite
    &.affix
      bottom: 50px

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  #pageContainer
    background-image: image_url("linedpaper_@2x.png") // Background pattern from subtlepatterns.com
    background-size: 412px 300px

.hidden
  display: none !important