$contact: #8585AD

#pageContainer
  #header
    box-shadow: 0 0px 0 rgba(0,0,0,0.08),inset 0 2px 0 0 $contact
    .navbar
      .navbar-header
        .navbar-brand
          #name
            #rCircle
              background-color: $contact
      ul.navbar-nav
        li.active a
          color: $contact
          border-color: $contact

  #message
    display: none

  .postal-border
    border-right: 10px solid transparent
    border-left: 10px solid transparent
    border-bottom-left-radius: 6px
    border-bottom-right-radius: 6px
    &:first-of-type
      border-top-left-radius: 6px
      border-top-right-radius: 6px
      border-bottom-left-radius: 0px
      border-bottom-right-radius: 0px

  form#new_contact
    textarea
      height: 100px
    label
      abbr
        display: none
    input[type='text'],
    input[type='number'],
    input[type="email"],
    textarea
      font-size: 16px
