#header, #footer
  display: none
  
#headerControls
  input[type="search"]::-webkit-search-cancel-button
    -webkit-appearance: searchfield-cancel-button
  .search-input-icon
    position: absolute
    left: 10px
    top: 10px
    z-index: 1000

.profile-picture-container 
  min-height: 50%
  min-width: 50%
  &:after
    content: '.'
    visibility: hidden

#contacts_app
  .form-control 
    &:focus
      box-shadow: none