.hidden-print
  display: none !important

body
  font-size: 13px
  font-family: Arial, Verdana, sans-serif

h1
  margin-top: 0
  font-size: 24px
h2
  font-size: 18px
  page-break-after: avoid
h3
  font-size: 16px
  margin-top: 5px
  margin-bottom: 5px
h4
  font-size: 14px
  margin-top: 5px
  margin-bottom: 5px
h5
  font-size: 12px
  margin: 0

p
  margin: 0

.avoid-page-break
  page-break-inside: avoid

