$resume: #85A366
$portfolio: #A34747
$projects: #5C8A8A
@import shared/colors_and_backgrounds

#pageContainer
  #header
    .portfolio_pages_portfolio &
      box-shadow: 0 0px 0 rgba(0,0,0,0.08),inset 0 2px 0 0 $portfolio
    .portfolio_pages_projects &
      box-shadow: 0 0px 0 rgba(0,0,0,0.08),inset 0 2px 0 0 $projects
    .portfolio_pages_resume &
      box-shadow: 0 0px 0 rgba(0,0,0,0.08),inset 0 2px 0 0 $resume
    .navbar
      .navbar-header
        .navbar-brand
          #name
            #rCircle
              .portfolio_pages_portfolio &
                @extend .bg-portfolio
              .portfolio_pages_projects &
                @extend .bg-projects
              .portfolio_pages_contact &
                @extend .bg-contact
              .portfolio_pages_resume &
                @extend .bg-resume
      ul.navbar-nav
        li.active a
          .portfolio_pages_portfolio &
            @extend .color-portfolio
            @extend .border-portfolio
          .portfolio_pages_projects &
            @extend .color-projects
            @extend .border-projects
          .portfolio_pages_contact &
            @extend .color-contact
            @extend .border-contact
          .portfolio_pages_resume &
            @extend .color-resume
            @extend .border-resume

  #content
    .portfolio_pages_resume &, .portfolio_pages_portfolio &
      .nav-top
        &.affix
          top: 20px
      .company-logo-container
        display: inline-block
        height: 100px
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1)
        vertical-align: middle
      .company-logo
        display: inline-block
        width: 90px
        height: 90px
        background-position: center center
        background-repeat: no-repeat
        background-image: image_url('resume/associations.png')
        background-size: 300%
        border-radius: 50%
        &.glyde
          background-position: 0 0
        &.calit2
          background-position: -90px 0
        &.convergys
          background-position: -180px 0
        &.uci
          background-position: 0 -90px
        &.ptu
          background-position: -90px -90px
        &.touchofmodern
          background-position: -180px -90px
        &.fm
          background-image: image_url('resume/fm.png')
          background-size: contain
      .table, .table th, .table td
        border: 0px !important
        border-bottom: 0px !important

    .portfolio_pages_portfolio &
      .thumbnail
        img
          max-height: 100%
      #enlargePreviewModal
        img
          max-width: 100%
      .inline-block-title
        display: inline-block

    .portfolio_pages_projects &
      .block-container
        &:hover
          .block-item
            opacity: 0.5
        .block-item
          display: block
          opacity: 0.8
          -webkit-transition: opacity 0.4s, -webkit-transform 0.4s
          transition: opacity 0.4s, transform 0.4s
          h2
            img
              width: 30px
              height: 30px
          &.bg-resume, &.bg-pale-coral
            &:hover
              -webkit-transform: rotate(-2deg) /* Safari */
              transform: rotate(-2deg)
          &.bg-contact, &.bg-pale-blue
            &:hover
              -webkit-transform: rotate(2deg) /* Safari */
              transform: rotate(2deg)
          &.bg-portfolio
            &:hover
              -webkit-transform: rotate(-2deg) /* Safari */
              transform: rotate(-2deg)
          &.bg-projects
            &:hover
              -webkit-transform: rotate(2deg) /* Safari */
              transform: rotate(2deg)
          &:hover
            opacity: 1

        a
          &:hover, &:visited, &:focus
            color: ghostwhite
            text-decoration: none


