// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome_index
  #pageContainer
    #header
      .navbar
        .navbar-header
          .navbar-toggle
            display: none
        ul.navbar-nav
          display: none

    #content
      #menuBlocks
        //background-image: image_url("magic.png")
        background-repeat: no-repeat
        background-position: center center
        background-size: contain
        &:hover
          .menu-block
            opacity: 0.5
        .menu-block
          display: block
          opacity: 0.8
          -webkit-transition: opacity 0.4s, -webkit-transform 0.4s
          transition: opacity 0.4s, transform 0.4s
          &.resume
            background-color: #85A366
            &:hover
              -webkit-transform: rotate(-2deg) /* Safari */
              transform: rotate(-2deg)
          &.contact
            background-color: #8585AD
            &:hover
              -webkit-transform: rotate(2deg) /* Safari */
              transform: rotate(2deg)
          &.portfolio
            background-color: #A34747
            &:hover
              -webkit-transform: rotate(-2deg) /* Safari */
              transform: rotate(-2deg)
          &.projects
            background-color: #5C8A8A
            &:hover
              -webkit-transform: rotate(2deg) /* Safari */
              transform: rotate(2deg)
          &:hover
            opacity: 1

        a
          &:hover, &:visited, &:focus
            color: ghostwhite
            text-decoration: none

  #tag-cloud
    width: 100%
    text-align: center

  .tag
    display: inline-block
    padding: 2px 5px
    border-radius: 3px
    transition: transform 0.3s

    &:hover
      transform: scale(1.03)
