.container
  .row
    .col-md-3.d-none.d-md-block
      %nav#portfolioScrollSpy.navbar.navbar-light.bg-light.position-sticky.sticky-top.scrollspy-navigation.p-0
        %nav.nav.flex-column
          %a.nav-link{:href => "#touchofmodern"} Touch of Modern
          %nav.nav.flex-column.sub-nav
            %a.nav-link.ml-3{:href => "#tomo_dir_eng"} Director of Engineering
            %a.nav-link.ml-3{:href => "#tomo_eng_mgmt"} Engineering Manager
            %a.nav-link.ml-3{:href => "#tomo_prod_eng"} Senior Product Engineer
          %a.nav-link{:href => "#fms"} Sports Stats Startup
          %nav.nav.flex-column.sub-nav
            %a.nav-link.ml-3{:href => "#fms_senior_fe"} Senior Frontend engineer
          %a.nav-link{:href => "#glyde"} Glyde
          %nav.nav.flex-column.sub-nav
            %a.nav-link.ml-3{:href => "#glyde_desktop"} Desktop Site
            %a.nav-link.ml-3{:href => "#glyde_mobile"} Mobile Site
            %a.nav-link.ml-3{:href => "#glyde_ils"} Inline Store
          %a.nav-link{:href => "#calit2"} Calit2
          %nav.nav.flex-column.sub-nav
            %a.nav-link.ml-3{:href => "#causality_project"} Causality Proj.
            %a.nav-link.ml-3{:href => "#karunatree"} Karunatree
          %a.nav-link{:href => "#uci"} UC Irvine
          %nav.nav.flex-column.sub-nav
            %a.nav-link.ml-3{:href => "#exif_photo_search"} EXIF Photo Search

    .col-md-9.col-sm-12.p-0.position-relative
      #touchofmodern.bg-projects.light.p-3
        %h2.font-26.col-xs-12.horizontal-flex
          %a.company-logo-container.padding-5.rounded-circle.bg-white
            .company-logo.touchofmodern{ :href => "https://www.touchofmodern.com/" }
          .inline-block-title.margin-left-15 
            Touch of Modern
            %span.font-16.color-projects
              02/2019 - 05/2024
            %p.font-16.font-normal.margin-top-10
              "Premier shopping destination for new-to-market lifestyle products aimed at the modern man". 
              ToMo was funded by Hillsven Capital, Floodgate & Partech Partners before being acquired by 
              #{link_to('CSC Generation', 'https://www.cscgeneration.com/')} in 2022. 
        %ul.font-22.list-unstyled.margin-bottom-0
          %li#tomo_dir_eng.clearfix.mb-3
            %h3.font-22.font-normal.col-xs-12 Director of Engineering
            .row.clearfix
              .col-xs-12.col-sm-12
                %p.font-14
                  I was promoted to Director of Engineering in Oct 2021, at which point, I was the senior most member of Touch of Modern 
                  engineering team, reporting directly to the CEO. In addition to my <b>hands-on engineering management and leadership</b> achievements 
                  listed below, I was also <b>at the helm of the acquisition</b>, from engineering standpoint, transitioning Touch of Modern's engineering 
                  technology to CSC Generation's "Golden Stack". 
                %p.font-14
                  In this role, I developed and implemented <b>engineering strategy</b> for Touch of Modern’s homegrown e-commerce platform, 
                  enhancing it via business critical & positive ROI feature development and building <b>system scalability</b> ensuring <b>99.9% 
                  system uptime</b> while serving a customer base of 30MM+.
                %p.font-14
                  I <b>envisioned and realized product strategy</b> for customer-facing web & mobile apps focusing on <b>organically attracting 
                  new users</b> and uplifting purchase conversion and internal systems by building system enhancements/automations reducing 
                  SKU lead times by 50%.
                %p.font-14
                  I also <b>leveraged AI</b> to empower the business teams with real time data visibility through human-like chatbot interactions 
                  helping them make data-driven decisions from procurement through order delivery, leading to 43% increase in marketplace 
                  event success rate.
                %p.font-14
                  I <b>headed and grew a 12-member dev team</b> comprised of varied experience levels (junior to lead) and mixed technical skillset 
                  (backend, frontend, full-stack, mobile & data) delivering business goals at above-goal project velocity while promoting a 
                  culture of continuous learning and development.
                %p.font-14
                  I Spearheaded <b>technology cost optimization</b> and budgeting making build-vs-buy recommendations replacing multiple vendors with 
                  home-grown solutions and identifying tech vendor cost savings opportunities (AWS Cost Explorer) actualizing $350K in annual
                  savings in 2023 alone.
          %li#tomo_eng_mgmt.clearfix.mb-3
            %h3.font-22.font-normal.col-xs-12 Engineering Manager
            .row.clearfix
              .col-xs-12.col-sm-12
                %p.font-14
                  As the sole Engineering Manager and the <b>senior most member of the Engineering team</b>, I filled the (rather large) shoes of 
                  Touch of Modern's co-founder and CTO as he was transitioning out. Although my title did not reflect it, I was acting as Head 
                  of Technology reporting directly to the CEO and a <b>part of Touch of Modern Leadership</b> team.
                %p.font-14
                  I managed and contributed to engineering team composed of highly experienced specialists and junior team members (size of 10 - 15) 
                  delivering complex engineering projects <b>boosting bottomline by $500K/Yr</b>.
                %p.font-14
                  I also lead the <b>engineering hiring</b> to scale up dev team while adopting a <b>hybrid team structure</b>, combining full-time talent with near-shore; 
                  <b>A 110% increase in engineering bandwidth</b> through only 30% added cost.
                %p.font-14
                  Accomplished <b>continuous improvement</b> to the team leveraging <b>engineering talent development</b> plan powered by self-driven <b>coaching 
                  and mentoring</b>, providing engineers a clear path to their next professional goal; resulting in 60% of the team exceeding yearly 
                  expectations and getting promoted.
                %p.font-14
                  Introduced <b>multiple process improvements</b> to engineering project roadmap enabling Business Stakeholders to pitch projects running 
                  them through ROI and risk (ops, financial & engineering) analysis helping identify projects bringing maximum value to business.
                %p.font-14
                  Lead <b>engineering strategy</b> for homegrown marketing <b>email platform supporting 10MM+ daily email sends</b> while maintaining 99.9% inbox 
                  placement rate.

          %li#tomo_prod_eng.clearfix.mb-3
            %h3.font-22.font-normal.col-xs-12  Senior Product Engineer
            .row.clearfix
              .col-xs-12.col-sm-12
                %p.font-14
                  When I first joined Touch of Modern, the CTO and I agreed that I will take a <b>hybrid role of a Senior Frontend Engineer and a Product Manager</b>. 
                  I leveraged my experience having already worked closely with Product and Business teams and now <b>owned the Product Vision</b> and roadmap and oversaw its implementation for  
                  Touch of Modern's e-commerce platform, servicing 30MM users.
                %p.font-14
                  I brought forth impactful consumer facing features such as “Notification Inbox”, “Cart Reminders”, “Favorite Lists”, increasing 
                  add-to-cart rate by 7% and integrations with SaaS partners such as Extend (product warranty), ShippedShield (shipment insurance) 
                  adding ~$300k/yr to business.
                %p.font-14
                  Touch of Modern's customer facing apps were on a legacy stack. I <b>revived the front-end stack</b> migrating Touch of Modern's online marketplace 
                  monolith into distinct React Single Page Application (SPA) Modules enabling 
                  <b>horizontal scaling</b> and dramatically </b>increasing page load speeds</b>.                  
                %p.font-14
                  I designed and executed multiple <b>A/B tests</b> and experiments to iteratively develop and measure success of consumer facing features against 
                  <b>Objectives and Key Results (OKRs)</b>.

      #fms.bg-earth-green.light.p-3
        %h2.font-26.col-xs-12.horizontal-flex
          %a.company-logo-container.padding-5.rounded-circle.bg-white
            .company-logo.fm{ :href => "https://www.touchofmodern.com/" }
          .inline-block-title.margin-left-15 
            Sports Stats Visualization
            %span.font-16.color-earth-green
              12/2018 - 12/2019
            %p.font-16.font-normal.margin-top-10
              Sports stats visualization startup that was bulding a React JS powered data visualization platform for NBA teams. 
        %ul.font-22.list-unstyled.margin-bottom-0
          %li#fms_senior_fe.clearfix.mb-3
            %h3.font-22.font-normal.col-xs-12 Senior Frontend Engineer
            .row.clearfix
              .col-xs-12.col-sm-12
                %p.font-14
                  I consulted as a Senior Frontend Engineer with a Sports stats visualization startup where I implemented a reactive data visualization app using React JS for displaying 
                  high-school sports recruits stats, team draft boards and events calendar curated and configurable for each team adopting the platform.
                %p.font-14
                  Furthermore, I led a 4 member front-end dev team providing front-end software architecture guidance and code reviews 
                  focusing on team’s code quality, test coverage, time complexity and maintainability.
                %p.font-14
                  I worked closely with Product team for customer facing feature ideation and implementation.

      #glyde.bg-portfolio.light.p-3
        %h2.font-26.col-xs-12.horizontal-flex
          %a.company-logo-container.padding-5.rounded-circle.bg-white
            .company-logo.glyde{ :href => "http://glyde.com/" }
          .inline-block-title.margin-left-15 
            Glyde
            %span.font-16.color-portfolio
              06/2012 - 12/2018
            %p.font-16.margin-top-10.font-normal
              An online marketplace for buying and selling Consumer Electronics and Video Games. I was a part of the Glyde startup journey 
              from second round of funding through their acquisition by #{link_to('PCS Wireless', 'https://pcsww.com/')} in 2018. 
        %ul.font-22.list-unstyled.margin-bottom-0
          %li#glyde_desktop.clearfix.mb-3
            %h3.font-22.font-normal.col-xs-12 Glyde Desktop Site (#{link_to "glyde.com", "http://glyde.com/"})
            .row.clearfix
              .col-xs-12.col-sm-9
                %p.font-14
                  #{link_to "glyde.com", "http://glyde.com/"} is an online marketplace for buying and selling Consumer
                  Electronics and Video Games. I'm deeply involved in various levels of glyde.com's Ruby on Rails stack. My job
                  comprises implementing back-end and front-end features aimed at continual enhancements on the desktop site.
                %p.font-14
                  Back-end tasks include performing largely test-driven Rails flavored Ruby development aimed at enhancements and maintenance on
                  Glyde's server side and the in-house #{abbr 'API', 'Application programming interface'}s, establishing good test
                  coverage and supporting Glyde's perpetually expanding product catalog.
                %p.font-14
                  On the front-end, I work closely with the Marketing and Business Teams to develop client side functionality
                  utilizing Object Oriented JavaScript, JavaScript libraries such as #{link_to 'jQuery', 'https://jquery.com/'},
                  #{link_to 'Underscore.js', 'http://underscorejs.org/'} and #{link_to 'Hogan.js', 'http://twitter.github.io/hogan.js/'},
                  and #{abbr 'AJAX', 'Asynchronous JavaScript and XML'} powered dynamic #{abbr 'HTML',  'HyperText Markup Language'}.
                %p.font-14
                  Additionally, I focus on staying on top of glyde.com's #{abbr 'SEO', 'Search Engine Optimization'}, keeping
                  close tabs on making the site search engine crawlable, optimizing pagespeed, rendering server-side when applicable
                  and integrating social functions using #{link_to 'Facebook Graph API', 'https://developers.facebook.com/docs/graph-api'},
                  #{link_to 'Google+ API', 'https://developers.google.com/+/web/api/rest/'}.
              .col-xs-12.col-sm-3
                %a{ :href =>"#", :data => { :toggle => "modal", :width => 600, :height => 900, :crop => "fit", :imgpath => "portfolio\/glyde_desktop.png" } }
                  = cl_image_tag("portfolio/glyde_desktop.png", :width => 400, :height => 300, :crop => :fill, :gravity => :north_east, :class=>"img-thumbnail")
          %li#glyde_mobile.clearfix.mb-3
            %h3.font-22.font-normal.col-xs-12  Glyde Mobile Site (#{link_to "m.glyde.com", "https://m.glyde.com/"})
            .row.clearfix
              .col-xs-12.col-sm-9
                %p.font-14
                  Starting as only a subset of the desktop site, #{link_to "m.glyde.com", "https://m.glyde.com/"} today attracts
                  a large percentage of Glyde's web traffic. I have been an active contributor to the mobile site's back-end and
                  front-end development.
                %p.font-14
                  During my tenure at Glyde I've worked on expanding the #{abbr 'API', 'Application programming interface'}s
                  that feed mobile site's client side relying on #{link_to 'Mustache', 'http://mustache.github.io/'} templating
                  and implementing sophisticated front-end functionality while adhering to mobile web best practices. Since my
                  joining Glyde, mobile site's functionality coverage has reached to the full 100% of the desktop functionality.
                %p.font-14
                  With #{link_to 'mobile SEO', 'https://developers.google.com/webmasters/mobile-sites/mobile-seo/'} (and
                  mobile support generally) becoming increasingly essential, I also focus on making the mobile site search
                  engine optimized, addressing viewport limitations and retina display support.
              .col-xs-12.col-sm-3
                %a.thumbnail{ :href =>"#", :data => { :toggle => "modal", :width => 320, :height => 600, :crop => "fit", :imgpath => "portfolio\/glyde_mobile.jpeg" } }
                  = cl_image_tag("portfolio/glyde_mobile.jpeg", :width => 400, :height => 300, :crop => :fill, :gravity => :north_east, :class=>"img-thumbnail")
          %li#glyde_ils.clearfix.mb-3
            %h3.font-22.font-normal.col-xs-12 Glyde Inline Store
            .row.clearfix
              .col-xs-12.col-sm-9
                %p.font-14
                  Glyde Inline Store is Glyde's drop-in app used by partner sites (#{link_to 'example', 'https://www.ptel.com/phones/used'})
                  to effortlessly start offering comprehensive online marketplace experience with full access to Glyde's core
                  online buying/selling capabilities.
                %p.font-14
                  I have been involved with development of the current version of this cool app, right from the beginning,
                  carrying out diverse tasks ranging from back-end development, building front-end functionality and guaranteeing
                  cross-browser compatibility.
              .col-xs-12.col-sm-3
                %a.thumbnail{ :href =>"#", :data => { :toggle => "modal", :width => 600, :height => 900, :crop => "fit", :imgpath => "portfolio\/glyde_inline_store.png" } }
                  = cl_image_tag("portfolio/glyde_inline_store.png", :width => 400, :height => 300, :crop => :fill, :gravity => :center, :class=>"img-thumbnail")


      #calit2.bg-resume.light.p-3
        %h2.font-26.col-xs-12.horizontal-flex
          .company-logo-container.padding-5.rounded-circle.bg-white
            %a.company-logo.calit2{ :href => "http://www.calit2.net/" }
          .inline-block-title.margin-left-20 
            Calit2
            %span.font-16.color-resume
              06/2010 - 03/2012
            %p.font-16.margin-top-10.font-normal
              While pursuing my Grad degree, I worked for #{link_to 'Calit2', 'http://www.calit2.net/'} and was a part of 
              #{link_to 'Social Code Group', 'http://www.ics.uci.edu/~wmt/socialCodeGroup/'} lab, headed by #{link_to 'Professor Bill Tomlinson', 'http://www.ics.uci.edu/~wmt/' }.
        %ul.font-22.list-unstyled.margin-bottom-0
          %li#causality_project.clearfix.mb-3
            %h3.font-22.font-light.col-xs-12 The Causality Project
            .row.clearfix
              .col-xs-12.col-sm-9
                %p.font-14
                  I was the founding developer and technical and design lead for The Causality Project was a Ruby on Rails based system for crowdsourcing and visualizing causal dependencies.
                  The project aimed to provide users with a highly responsive participatory environment where they could
                  identify environmental/social/economic/political issues and interlink them based on criteria like causation,
                  prevention and hierarchy. The system also enabled users to generate dynamic visualizations corresponding
                  to the selected subsets of the established network.
                %p.font-14
                  I developed the Rails site from
                  bottom up along with the #{link_to 'Nokogiri', 'http://www.nokogiri.org/'} crawler to get causal node content
                  from #{link_to 'wikipedia', 'https://www.wikipedia.org/'} articles and a Reputation Management system to
                  encourage user contribution.
              .col-xs-12.col-sm-3
                %a.thumbnail{ :href =>"#", :data => { :toggle => "modal", :width => 600, :height => 900, :crop => "fit", :imgpath => "portfolio\/thiscausesthat.jpg" } }
                  = cl_image_tag("portfolio/thiscausesthat.jpg", :width => 400, :height => 300, :crop => :fit, :class=>"img-thumbnail")

          %li#karunatree.clearfix.mb-3
            %h3.font-22.font-light.col-xs-12 Karunatree
            .row.clearfix
              .col-xs-12.col-sm-9
                %p.font-14
                  One of the 10 projects selected for #{link_to 'IDEO', 'https://www.ideo.com/'} and STARTL
                  Design Boost, San Francisco, 2010 - Karunatree was a rails web application designed to assist middle school children
                  in relating to global environmental phenomena by posting contextually geo-tagged messages.
                %p.font-14
                  Karunatree was how I got introduced to Ruby on Rails development. In addition to working on the Rails technology
                  stack, I implemented intricate #{link_to 'Google Maps API', 'https://developers.google.com/maps/web/'} and
                  #{link_to 'Google Earth API', 'https://developers.google.com/earth/?hl=en'} integration in order to attain
                  reverse geo-tagging for the messages.
              .col-xs-12.col-sm-3
                %a.thumbnail{ :href =>"#", :data => { :toggle => "modal", :width => 600, :height => 900, :crop => "fit", :imgpath => "portfolio\/karunatree_1.jpg" } }
                  = cl_image_tag("portfolio/karunatree_1.jpg", :width => 400, :height => 300, :crop => :fit, :class=>"img-thumbnail")


      #uci.bg-contact.light.p-3
        %h2.font-26.col-xs-12
          .company-logo-container.padding-5.rounded-circle.bg-white
            %a.company-logo.uci{ :href => "http://www.uci.edu/" }
          .inline-block-title 
            University of California, Irvine
            %span.font-16.color-contact
              03/2010 - 03/2012
        %ul.font-22.list-unstyled.margin-bottom-0
          %li#exif_photo_search.clearfix.mb-3
            %h3.font-22.font-light.col-xs-12 EXIF based image search
            .row.clearfix
              .col-xs-12.col-sm-12
                %p.font-14
                  The idea behind this project is to utilize #{link_to 'EXIF', 'https://en.wikipedia.org/wiki/Exchangeable_image_file_format'}
                  metadata tags embedded within digital images to develop novel criteria for image search.
                %p.font-14
                  I implemented one-click search based on criteria such as day/night and high quality images based on #{abbr "EXIF", "Exchangeable image file format"}
                  and introduced guidance for improved photographic skills based on deviation from ideal camera
                  settings (again derived from #{abbr "EXIF", "Exchangeable image file format"}). The project also offered
                  variable length story-telling using 'time-based image subset' selection from user photo albums.
                %p.font-14
                  This stand-alone #{link_to '.NET', 'http://www.microsoft.com/net'} application was a new way to look at
                  image search. It was only recently that my friends at #{link_to 'shutterdial', 'http://www.shutterdial.com/'}
                  actually brought the idea to life!


    = render :partial => "shared/back_to_top"


#enlargePreviewModal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header.padding-20
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
      .modal-body.padding-15.text-center

%script#enlargePreviewImgTemplate{:charset => "utf-8", :type => "text/x-mustache-template"}
  %img{ :src => "http://res.cloudinary.com/rgoraya-com/image/upload/c_{{crop}},h_{{height}},w_{{width}}/{{path}}" }
