.container
  %h3.my-3
    Repositories

  #github_projects
    #projectBlocks.col-xs-12.padding-0.block-container
      .flex-wrap.d-flex
        - bg_classes = [ 'bg-portfolio', 'bg-resume', 'bg-pale-coral', 'bg-contact', 'bg-projects']
        - index = 0
        - @repo_types.each do |repo_type|
          - repo_type[:repos].each do |repo|
            - index += 1
            - modulo_idx = index >= bg_classes.length ? (index % bg_classes.length) : index
            - bg_class = bg_classes[modulo_idx]
            - private = repo[:is_private] || repo[:private]
            - website = repo[:homepage] || repo[:website]
            .col-xs-12.col-sm-6.p-0.d-flex
              .project-block.color-ghost-white.card.p-0.rounded-0{ :class => "#{bg_class}"}
                %h3.font-weight-light.card-header.px-4.py-3
                  -# = cl_image_tag(project_type_logo(repo_type[:repo_type]), :width => 60, :height => 60, :crop => :fill)
                  %i.fab.fa-github 
                  = repo["name"]
                %p.card-body.p-4.m-0
                  = repo["description"]
                .d-flex.justify-content-between.card-footer.px-4.py-3
                  %a.color-ghost-white{:href => "#{private ? '#' : repo['html_url']}"}
                    #{repo_type[:repo_type]} Repository
                    - if private
                      %i.glyphicon.glyphicon-lock
                      (private)
                  - unless website.blank?
                    %a.text-right.color-ghost-white{:href => "#{private ? '#' : repo[:homepage]}"}
                      Website

  %h3.my-3
    Profiles

  #profiles
    #profileBlocks
      .flex-wrap.d-flex
        .col-xs-12.col-sm-6.p-0
          .profile-block.color-ghost-white.bg-pale-blue.card.p-0.rounded-0
            %h3.font-weight-light.card-header.px-4.py-3
              -# = cl_image_tag("portfolio/github_logo.png", :width => 60, :height => 60, :crop => :fit)
              %i.fab.fa-github 
              Github
            .card-body.p-4.m-0
              %a.color-ghost-white{ :href => "#{@git_profile['html_url']}" }
                = @git_profile['html_url']
        .col-xs-12.col-sm-6.p-0
          .profile-block.color-ghost-white.bg-pale-coral.card.p-0.rounded-0
            %h3.font-weight-light.card-header.px-4.py-3
              -# = cl_image_tag("portfolio/bitbucket_logo.png", :width => 60, :height => 60, :crop => :fit)
              %i.fab.fa-bitbucket 
              BitBucket
            .card-body.p-4.m-0
              %a.color-ghost-white{ :href => "https://bitbucket.org/rsgoraya/" }
                = "https://bitbucket.org/rsgoraya/"


= render "shared/back_to_top"