.container
  .row
    .col-md-3.d-none.d-md-block.d-print-none.hidden-print
      %nav#resumeScrollSpy.navbar.navbar-light.position-sticky.sticky-top.scrollspy-navigation.p-0
        %nav.nav.flex-column            
          %a.nav-link{:href => "#about"} About Me
          %a.nav-link{:href => "#experience"} Experience
          %nav.nav.flex-column.sub-nav
            %a.nav-link.ml-3{:href => "#touchOfModern"} Touch of Modern
            %nav.nav.flex-column.sub-nav.ml-3
              %a.nav-link.ml-3{:href => "#dirEng"} Dir. of Engineering
              %a.nav-link.ml-3{:href => "#engMgr"} Engineering Manager
              %a.nav-link.ml-3{:href => "#srProdEng"} Sr. Product Engineer
            %a.nav-link.ml-3{:href => "#stealthStartup"} Stealth Startup
            %a.nav-link.ml-3{:href => "#glyde"} Glyde
            %nav.nav.flex-column.sub-nav.ml-3
              %a.nav-link.ml-3{:href => "#srFeEgrGlyde"} Senior Front-end Engineer
              %a.nav-link.ml-3{:href => "#feEgrGlyde"} Front-end Engineer
            %a.nav-link.ml-3{:href => "#calit2"} Calit2
            %a.nav-link.ml-3{:href => "#convergys"} Convergys
          %a.nav-link{:href => "#expertise"} Expertise
          %a.nav-link{:href => "#education"} Education
          %a.nav-link{:href => "#honors"} Honors

    .col-md-9.col-sm-12
      #about.avoid-page-break
        %h2.font-26 
          Raminder Goraya
          %a.btn.border-resume.color-resume.btn-outline.btn-outline-dark.rounded-circle.btn-md{:href => "https://www.linkedin.com/in/rgoraya/"}   
            %i.fab.fa-linkedin  
          %a.btn.border-resume.color-resume.btn-outline.btn-outline-dark.rounded-circle.btn-md{:href => asset_path("raminder_goraya_resume_eng_management.pdf")} 
            %i.fa.fa-file-pdf
        %hr
        %p
          Seasoned Engineering leader with <b>15+ years</b> of progressively responsible experience managing and actively contributing to multiple
          <b>Agile</b> software engineering teams. Skilled in managing both lead-level and entry-level Software Engineers to deliver <b>web &amp; mobile</b>
          apps serving millions of customers. Proficient in <b>engineering leadership</b>, <b>engineering hiring, engineering talent development</b>
          and crafting <b>engineering roadmaps</b>. Well-versed in <b>business stakeholder management</b>, <b>technology vendor management</b>
          and <b>technology cost optimization</b>.
      #experience.avoid-page-break
        %h2.font-26 Professional Experience
        %hr
        #touchOfModern
          #dirEng.row.clearfix.avoid-page-break
            .col-sm-10
              %h3.font-22 Director of Engineering
              %h4.font-18
                TouchOfModern, San Francisco, CA
                %span.font-16.font-light.d-print-inline.d-none 10/2021 - 05/2024 (#{distance_of_time_in_words(Date.parse("2021-10-1"), Date.parse("2024-05-17"))})
              %h5.font-16.font-light.d-print-none.hidden-print 10/2021 - 05/2024 (#{distance_of_time_in_words(Date.parse("2021-10-1"), Date.parse("2024-05-17"))})
            .col-sm-2.text-center.my-2.d-print-none.hidden-print
              .company-logo-container.padding-5.rounded-circle.bg-white
                %a.company-logo.touchofmodern{ :href => "https://www.touchofmodern.com" }
            %ul
              %li Developed and implemented engineering strategy for Touch of Modern's homegrown e-commerce platform, enhancing it via business critical & positive ROI feature development and achieving system scalability ensuring 99.9% system uptime while serving a customer base of 30MM+
              %li Envisioned and realized product strategy for customer-facing web & mobile apps focusing on organically attracting new users and uplifting purchase conversion and internal systems by developing system enhancements/automations reducing SKU lead times by 50%
              %li Leveraged AI through an AWS and OpenAI juxtaposition, building AI powered KPI interfaces empowering business teams with real time data visibility through human-like chatbot interactions helping them make data-driven decisions from procurement through order delivery, leading to 43% increase in marketplace event success rate
              %li Headed and grew a 12-member dev team comprised of varied experience levels (junior to lead) and mixed technical skill set (backend, frontend, full-stack, mobile & data), promoting a culture of continuous learning and development, resulting in a high performing, balanced and right-sized team delivering business goals at above-goal project velocity
              %li Spearheaded technology cost optimization and budgeting making build-vs-buy recommendations replacing multiple vendors with home-grown solutions and identifying tech vendor cost savings opportunities (AWS Cost Explorer) actualizing $347K in annual savings in 2023

          #engMgr.row.clearfix.avoid-page-break
            .col-sm-10
              %h3.font-22 Engineering Manager
              %h4.font-18
                TouchOfModern, San Francisco, CA
                %span.font-16.font-light.d-print-inline.d-none 06/2020 - 10/2021 (#{distance_of_time_in_words(Date.parse("2020-06-1"), Date.parse("2021-10-01"))})
              %h5.font-16.font-light.d-print-none.hidden-print 06/2020 - 10/2021 (#{distance_of_time_in_words(Date.parse("2020-06-1"), Date.parse("2021-10-01"))})
            .col-sm-2.text-center.my-2.d-print-none.hidden-print
              .company-logo-container.padding-5.rounded-circle.bg-white
                %a.company-logo.touchofmodern{ :href => "https://www.touchofmodern.com" }
            %ul
              %li Managed and contributed to engineering team composed of highly experienced specialists and junior team members (size of 10 - 15) delivering complex projects boosting bottom line by $500K/Yr
              %li Lead the engineering hiring to scale up dev team while adopting a hybrid team structure, combining full-time talent with near-shore; 30% added cost resulting in increasing engineer bandwidth by 110%
              %li Accomplished continuous improvement to the team leveraging engineering talent development plan powered by self-driven coaching and mentoring, providing engineers a clear path to their next professional goal; resulting in 60% of the team exceeding yearly expectations and getting promoted
              %li Introduced multiple process improvements to engineering project roadmap including building a custom prioritization tool enabling Business Stakeholders to pitch projects running them through ROI and risk (ops, financial & engineering) analysis helping identify projects bringing maximum value to business
              %li Lead engineering strategy for homegrown marketing email platform supporting 10MM+ daily email sends while maintaining 99.9% inbox placement rate       

          #srProdEng.row.clearfix.avoid-page-break
            .col-sm-10
              %h3.font-22 Senior Product Engineer
              %h4.font-18
                TouchOfModern, San Francisco, CA
                %span.font-16.font-light.d-print-inline.d-none 02/2019 - 06/2020 (#{distance_of_time_in_words(Date.parse("2019-02-11"), Date.parse("2020-06-01"))})
              %h5.font-16.font-light.d-print-none.hidden-print 02/2019 - 06/2020 (#{distance_of_time_in_words(Date.parse("2019-02-11"), Date.parse("2020-06-01"))})
            .col-sm-2.text-center.my-2.d-print-none.hidden-print
              .company-logo-container.padding-5.rounded-circle.bg-white
                %a.company-logo.touchofmodern{ :href => "https://www.touchofmodern.com" }
            %ul
              %li Owned Product vision and roadmap and oversaw its implementation for e-commerce platform servicing 30MM users
              %li Introduced impactful consumer facing features such as "Notification Inbox", "Cart Reminders", "Favorite Lists", increasing add-to-cart rate by 7% and integrations with SaaS partners such as Extend (product warranty), ShippedShield (shipment insurance) adding ~$300k/yr to business  
              %li Migrated TouchOfModern's online marketplace monolith into distinct React Single Page Application (SPA) Modules enabling horizontal scaling and dramatically increasing page load speeds
              %li Executed A/B tests to iteratively develop and measure success of consumer facing features against key conversion metrics 

        #stealthStartup.avoid-page-break
          .row.clearfix
            .col-sm-10
              %h3.font-22 (Consulting) Senior Frontend Engineer
              %h4.font-18
                Stealth Startup (Sports Stats Visualization)
                %span.font-16.font-light.d-print-inline.d-none 12/2018 - 12/2019 (1 year)
              %h5.font-16.font-light.d-print-none.hidden-print 12/2018 - 12/2019 (1 year)
            .col-sm-2.text-center.my-2.d-print-none.hidden-print
              .company-logo-container.padding-5.rounded-circle.bg-white
                %a.company-logo.fm{ :href => "https://fastmodelsports.com/" }
            %ul
              %li Led a 4 member front-end dev team providing front-end software architecture guidance and code reviews focusing on team's code quality, test coverage, time complexity and maintainability
              %li Built a reactive data visualization app using React JS for displaying high-school sports recruits stats, team draft boards and events calendar
              %li Worked closely with Product team for customer facing feature ideation and implementation 

        #glyde
          #srFeEgrGlyde.row.clearfix.avoid-page-break
            .col-sm-10
              %h3.font-22 Senior Front-end Engineer
              %h4.font-18
                Glyde Corporation, Palo Alto, California
                %span.font-16.font-light.d-print-inline.d-none 03/2016 - 12/2018 (#{distance_of_time_in_words(Date.parse("2016-03-01"), Date.parse("2018-12-03"))})
              %h5.font-16.font-light.d-print-none.hidden-print  03/2016 - 12/2018 (#{distance_of_time_in_words(Date.parse("2016-03-01"), Date.parse("2018-12-03"))})
            .col-sm-2.text-center.my-2.d-print-none.hidden-print
              .company-logo-container.padding-5.rounded-circle.bg-white
                %a.company-logo.glyde{ :href => "http://glyde.com/" }
            %ul
              %li Implemented pixel perfect front-end functionality working with Product, UX and Business teams
              %li Delivered Test-driven development aimed at Glyde's server side feature-development and enhancements to in-house APIs
              %li Developed Glyde's "Inline Store", a drop in SDK enabling full Glyde marketplace experience on multiple partner platforms incrementally boosting orders by 10%
              %li Introduced SEO improvements by building a "landing page" layer for the online marketplace helping increase daily traffic by 45% organically attracting new users to the marketplace

          #feEgrGlyde.row.clearfix.avoid-page-break
            .col-sm-10
              %h3.font-22 Front-end Engineer
              %h4.font-18
                Glyde Corporation, Palo Alto, California
                %span.font-16.font-light.d-print-inline.d-none 06/2012 - 03/2016 (#{distance_of_time_in_words(Date.parse("2016-03-01"), Date.parse("2018-12-03"))})
              %h5.font-16.font-light.d-print-none.hidden-print  06/2012 - 03/2016 (#{distance_of_time_in_words(Date.parse("2016-03-01"), Date.parse("2018-12-03"))})
            .col-sm-2.text-center.my-2.d-print-none.hidden-print
              .company-logo-container.padding-5.rounded-circle.bg-white
                %a.company-logo.glyde{ :href => "http://glyde.com/" }
            %ul
              %li Developed sophisticated front-end functionality for Glyde's desktop and mobile site adhering to mobile web best practices leveraging responsive design with cross-browser compatibility
              %li Integrated social functions using Facebook Graph API, Google+ API, Google Maps API
              %li Optimized the mobile site for search engines, addressing viewport limitations and retina display support
              %li Executed Google page speed monitoring best practices improving page load speeds by 10%

        #calit2.avoid-page-break
          .row.clearfix
            .col-sm-10
              %h3.font-22 Software Engineer
              %h4.font-18
                California Institute for Telecommunications and Information Technology (Calit2), Irvine, California
                %span.font-16.font-light.d-print-inline.d-none 06/2010 - 03/2012 (1 year, 9 months)
              %h5.font-16.font-light.d-print-none.hidden-print 06/2010 - 03/2012 (1 year, 9 months)
            .col-sm-2.text-center.my-2.d-print-none.hidden-print
              .company-logo-container.padding-5.rounded-circle.bg-white
                %a.company-logo.calit2{ :href => "http://www.calit2.net/" }
            %ul
              %li Performed Test Driven Rails development designing and developing large portions of "Causality" Rails app including recommendation system, ranking, system state management and user reputation scoring
              %li Improved UX for these functionalities through highly responsive UI supported by AJAX interactions
              %li Developed a Rails web app to create 'Seedlings' – Contextually Geotagged multimedia posts leveraging Geocoding and Reverse Geocoding Google API scripts for placement and location identification of posts
              %li Selected for and presented app at STARTL Design Boost, San Francisco – 4 day boot camp by IDEO

        #convergys.avoid-page-break
          .row.clearfix
            .col-sm-10
              %h3.font-22 Associate, Programing/Analysis
              %h4.font-18
                Convergys IMG Hyderabad (Headquarters: Cincinnati)
                %span.font-16.font-light.d-print-inline.d-none 07/2007 - 03/2010 (2 years, 7 months)
              %h5.font-16.font-light.d-print-none.hidden-print 07/2007 - 03/2010 (2 years, 7 months)
            .col-sm-2.text-center.my-2.d-print-none.hidden-print
              .company-logo-container.padding-5.rounded-circle.bg-white
                %a.company-logo.convergys{ :href => "http://www.convergys.com/" }
            %ul
              %li Implemented complex features using AS400 for three major releases of AT&T CARE telecom billing system
              %li Developed features for making Amex billing data compliant to Capital Asset Pricing Model (CAPM)
              %li Developed permanent fixes for AT&T Online Mechanized Error Correction System affecting 90% error reduction
              %li Appointed as offshore and onshore Subject matter expert for AT&T Message Processing System (MPS)
              
      #expertise.avoid-page-break
        %h2.font-26 Technical Expertise
        %hr
        %table.table.widthAuto.table-bordered.margin-top-10
          %tr
            %td
              %h4.font-18.font-light.margin-0 Programming Languages
            %td Ruby, JavaScript, C++, ObjectiveC
          %tr
            %td
              %h4.font-18.font-light.margin-0 Web Development
            %td JavaScript (ES6), ReactJS, Rails, jQuery, Underscore.js, Angular.js, Ajax, HTML, HAML and CSS3
          %tr
            %td
              %h4.font-18.font-light.margin-0 Versioning/Hosting
            %td Github, BitBucket, SVN, Heroku
          %tr
            %td
              %h4.font-18.font-light.margin-0 Third party APIs
            %td Facebook Graph API, Google+ API, Google Maps API, Google Recaptcha, Coinbase
          %tr
            %td
              %h4.font-18.font-light.margin-0 Database
            %td ActiveRecord, MySQL, SQLite, MS SQL Server, IBM DB2

      #education.avoid-page-break
        %h2.font-26 Education
        %hr
        .row.clearfix
          .col-sm-10
            %h4.font-18 Master's in Informatics
            %p.font-16 University of California, Irvine Donald Bren School of Information and Computer Sciences, Irvine, CA
            %table.table.widthAuto.table-bordered.margin-top-10.d-print-none.hidden-print
              %tr
                %td
                  %h5.font-16.font-light GPA 3.85
                %td
                  %h5.font-16.font-light graduated 03/2012
          .col-sm-2.text-center.my-2.d-print-none.hidden-print
            .company-logo-container.padding-5.rounded-circle.bg-white
              %a.company-logo.uci{ :href => "http://www.uci.edu/" }
        .row.clearfix
          .col-sm-10
            %h4.font-18 Bachelor of Technology in Computer Science
            %p.font-16 Punjab Technical University, Punjab, India
            %table.table.widthAuto.table-bordered.margin-top-10.d-print-none.hidden-print
              %tr
                %td
                  %h5.font-16.font-light GPA 3.76
                %td
                  %h5.font-16.font-light graduated 07/2007
          .col-sm-2.text-center.my-2.d-print-none.hidden-print
            .company-logo-container.padding-5.rounded-circle.bg-white
              %a.company-logo.ptu{ :href => "http://www.ptu.ac.in/" }
      #honors.avoid-page-break
        %h2.font-26 Awards and Honors
        %hr
        %ol.padding-left-30
          %li
            %h4.font-18.font-light.margin-0
              Full Graduate Scholarship, 04/2011 and 12/2011
            %p
              University of California, Irvine
              Awarded for contributions to #{link_to 'Social Code Group', 'http://www.ics.uci.edu/~wmt/socialCodeGroup/'}
              lab, headed by #{link_to 'Professor Bill Tomlinson', 'http://www.ics.uci.edu/~wmt/' }
          %li
            %h4.font-18.font-light.margin-0 STARTL DESIGN BOOST, San Francisco, 11/2010
            %p
              Karunatree was selected for, and attended as a team of four, the four day intensive bootcamp for prototyping
              digital learning products by STARTL and #{link_to 'IDEO', 'https://www.ideo.com/'}. As a part of this workshop,
              we crafted the Value Proposition of the project and developed understanding of the target audience.
              We consulted learning experts and industry experts to receive feedback on proposed market size, competition
              and strategy for the project - further, interviewed and received feedback from recruited sample end users.
              The team synthesized the findings and had one-on-one discussions with the assigned design experts. As the final
              exercise, we created the project storyboard and Prototyped changes to the project based on expert and user feedback.
              We were invited for an an end to end start-up crash course!
          %li
            %h4.font-18.font-light.margin-0 AT &T Mobility Tier I Award, 04/2008
            %p
              Convergys IMG, Organization level
              %br
              Presented by Vice President Application Development (Telecom Business Management), Convergys IMG, Cincinnati Ohio
          %li
            %h4.font-18.font-light.margin-0 TBM Hyderabad Excellence Award, 05/2008
            %p
              Convergys IMG, Centre Level
              %br
              Presented by Director Application Development (Telecom Business Management), Convergys IMG, Hyderabad, India
          %li
            %h4.font-18.font-light.margin-0 Power of One Award &#8211; Convergys IMG, 2007 to 2010
            %p
              Convergys IMG, Centre Level (5 times)
              %br
              Presented by Director Human Resources (1), Senior manager (2), Senior Systems Analyst (2), Convergys IMG, Hyderabad, India

      .d-print-none.hidden-print.text-center.margin-top-30.margin-bottom-30.d-none
        %a.btn.btn-outline-dark.btn-lg{:href => "/resume-pdf"}
          %i.fa.fa-download-alt
          For the love of PDF


= render :partial => "shared/back_to_top"