!!!
%html
  %head
    = render "shared/meta"
    = stylesheet_link_tag "application", params[:controller], :media => "all", 'data-turbolinks-track' => true
    = javascript_include_tag "application", "#{controller_name}_#{action_name}", 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css", :rel => "stylesheet"}/
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/80daf764fb.js"}

  %body{ :class => body_class_name }
    #pageContainer.container-fluid
      = render "shared/header"
      #content
        = yield
      = render "shared/footer"

